@import "./reset";
@import "./body";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=Open+Sans&display=swap");

//variables
$teal: #66e2dc;
$orange: #fa7453;
$offWhite: #fcfaf9;
$dark: rgb(25, 24, 38);

.navigation {
  background-color: $teal;
  opacity: 0.9;
}
#navigation {
  font-weight: bold;
}
.sidenav {
  background-color: $teal;
  opacity: 0.9;
}
#para-image {
  width: 100vw;
  min-height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
video {
  min-width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

h2 {
  font-weight: bold;
  color: $dark;
}
p {
  color: $dark;
  font-size: 1.2em;
}

.card-panel {
  background-color: $orange;
  border-radius: 8px;
  margin-top: 1em;
  h4,
  h3 {
    font-weight: bold;
    color: $offWhite;
  }
  span {
    color: $offWhite;
    line-height: 2.125em;
  }
  #custom-1 {
    font-weight: normal;
    font-size: 15px;
  }
  #icon {
    border-radius: 8px;
    width: 100%;
    font-weight: bold;
    #device {
      margin-left: 4px;
    }
  }
}

#features {
  background-image: url("assets/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
  #android {
    color: $dark;
  }
}

#contacts {
  background-image: url("assets/bg-main-desktop.png");
  background-repeat: repeat;
  background-size: contain;
  #email {
    text-decoration: none;
    font-weight: bold;
    color: $dark;
  }
}
#phone {
  padding-top: 1em;
  width: 100%;
  height: auto;
}

#copyright {
  margin-top: 17.5em;
  a {
    color: $orange;
  }
  #social-media {
    padding: 15px;
  }
}

.deco-container {
  background-image: url("assets/bg-main-desktop.png");
  background-repeat: repeat;
  background-size: 50%;
  background-image: url("assets/bg-pattern-1.svg");
  background-size: 100vw;
  #bottom-row {
    margin-bottom: 0px;
  }
}
#deco-background {
  background-image: url("assets/bg-pattern-2.svg");
  margin-top: 7.3em;
}

footer {
  background-color: $teal;
  opacity: 0.8;
  padding-top: 3px;

  span {
    font-size: 17px;
    font-weight: bold;
    color: $dark;
  }
  a {
    font-weight: bold;
    text-decoration: none;
    color: $dark;
  }
}

@media only screen and (max-width: 1116px) {
  #device {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #parallax-1 {
    height: 20em;
  }
  #device {
    display: contents;
  }
  #para-image {
    object-fit: cover;
  }
  #parallax-2 {
    height: 15em;
  }
  video {
    width: 90%;
    object-fit: contain;
  }
}
